<mat-toolbar color="primary" class="toolbar">
	<button mat-icon-button class="example-icon home-icon" routerLink="home">
		<mat-icon>home</mat-icon>
  </button>
  <span class="example-spacer"></span>
	<div class="title">
		<fa-icon class="flag" [icon]="faFlag"></fa-icon>
		<span class="span">Golf Scorecard</span>
  </div>
</mat-toolbar>
<div class="body">
  <div class="course">
    <h3>Golf Couse:</h3>
    <mat-form-field appearance="fill">
    <mat-label>Select A Course</mat-label>
      <mat-select [(ngModel)]="selectedCourse" (selectionChange)="check()">
        <mat-option *ngFor="let Course of courses" [value]="Course.value">
          {{Course.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="tee">
  <h3>Tee:</h3>
  <mat-form-field appearance="fill">
  <mat-label>Select A Tee</mat-label>
    <mat-select [(ngModel)]="selectedTee" (selectionChange)="check2()">
      <mat-option *ngFor="let Tee of tees" [value]="Tee.value">
        {{Tee.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  </div>
  <div class="player">
  <h3>Player Count:</h3>
  <mat-form-field appearance="fill">
  <mat-label>Select A Player Count</mat-label>
    <mat-select [(ngModel)]="selectedPlayerCount">
      <mat-option *ngFor="let Player of players" [value]="Player.value">
        {{Player.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  </div>
  <div class="button">
    <button mat-raised-button color="primary" (click)="submit()">Get Scorecard</button>
  </div> 
</div>