.table {
    overflow-x: scroll;

    td {
        border: 1px solid black;
        text-align: center;
        font-size: 15px;
    }
    
    table {
        border-collapse: collapse;
        height: 90.1vh;
    }
}

mat-icon {
    font-size: 30px;
}

.numbers {
    display: flex;
    font-size: 20px;
}

.flag {
    font-size: 30px;
    padding-right: 10px;
}

.wind {
    font-size: 20px;
    padding-right: 10px;
}

.span {
    font-size: 30px;
}


.example-spacer {
    flex: .55 auto
}

.example-spacer2 {
    flex: .4 auto
}

@media (max-width: 750px) {
    mat-icon, .numbers, .example-spacer, .example-spacer2, .home-icon {
        display: none;
    }
    mat-toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
    }
}