<div class="table">
<table>
    <thead>
      <tr>
        <td>{{course}}</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>Out</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
        <td>13</td>
        <td>14</td>
        <td>15</td>
        <td>16</td>
        <td>17</td>
        <td>18</td>
        <td>In</td>
        <td>TOT</td>
        <td>HCP</td>
        <td>NET</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{tee}} Tee</td>
        <td *ngFor="let number of yards | slice:0:9; let i=index">{{number}}</td>
        <td></td>
        <td *ngFor="let number of yards | slice:9:18; let i=index">{{number}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Par</td>
        <td *ngFor="let number of pars | slice:0:9; let i=index">{{number}}</td>
        <td></td>
        <td *ngFor="let number of pars | slice:9:18; let i=index">{{number}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Player 1 Name</mat-label>
                    <input matInput placeholder="Player 1 Name">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 1 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 1 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 2 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 2 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 3 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 3 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 4 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 4 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 5 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 5 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 6 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 6 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 7 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 7 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 8 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 8 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 9 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 9 Score">
                </mat-form-field>
            </form>
        </td>
        <td></td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 10 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 10 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 11 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 11 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 12 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 12 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 13 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 13 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 14 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 14 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 15 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 15 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 16 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 16 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 17 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 17 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 18 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 18 Score">
                </mat-form-field>
            </form>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr *ngIf=" players >= '2' ">
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Player 2 Name</mat-label>
                    <input matInput placeholder="Player 2 Name">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 1 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 1 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 2 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 2 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 3 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 3 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 4 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 4 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 5 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 5 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 6 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 6 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 7 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 7 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 8 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 8 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 9 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 9 Score">
                </mat-form-field>
            </form>
        </td>
        <td></td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 10 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 10 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 11 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 11 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 12 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 12 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 13 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 13 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 14 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 14 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 15 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 15 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 16 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 16 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 17 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 17 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 18 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 18 Score">
                </mat-form-field>
            </form>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr *ngIf=" players >= '3' ">
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Player 3 Name</mat-label>
                    <input matInput placeholder="Player 3 Name">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 1 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 1 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 2 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 2 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 3 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 3 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 4 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 4 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 5 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 5 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 6 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 6 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 7 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 7 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 8 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 8 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 9 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 9 Score">
                </mat-form-field>
            </form>
        </td>
        <td></td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 10 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 10 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 11 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 11 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 12 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 12 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 13 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 13 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 14 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 14 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 15 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 15 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 16 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 16 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 17 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 17 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 18 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 18 Score">
                </mat-form-field>
            </form>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr *ngIf=" players >= '4' ">
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Player 4 Name</mat-label>
                    <input matInput placeholder="Player 4 Name">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 1 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 1 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 2 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 2 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 3 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 3 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 4 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 4 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 5 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 5 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 6 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 6 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 7 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 7 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 8 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 8 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 9 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 9 Score">
                </mat-form-field>
            </form>
        </td>
        <td></td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 10 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 10 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 11 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 11 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 12 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 12 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 13 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 13 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 14 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 14 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 15 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 15 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 16 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 16 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 17 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 17 Score">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 18 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 18 Score">
                </mat-form-field>
            </form>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Handicap</td>
        <td *ngFor="let number of hcp| slice:0:9; let i=index">{{number}}</td>
        <td></td>
        <td *ngFor="let number of hcp| slice:9:18; let i=index">{{number}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
</table>
</div>