<div class="table">
<table>
    <thead>
      <tr>
        <td>{{course}}</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>Out</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
        <td>13</td>
        <td>14</td>
        <td>15</td>
        <td>16</td>
        <td>17</td>
        <td>18</td>
        <td>In</td>
        <td>TOT</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{tee}} Tee</td>
        <td *ngFor="let number of yards | slice:0:9; let i=index">{{number}}</td>
        <td>{{yardsOut}}</td>
        <td *ngFor="let number of yards | slice:9:18; let i=index">{{number}}</td>
        <td>{{yardsIn}}</td>
        <td>{{yardsTot}}</td>
      </tr>
      <tr>
        <td>Par</td>
        <td *ngFor="let number of pars | slice:0:9; let i=index">{{number}}</td>
        <td>36</td>
        <td *ngFor="let number of pars | slice:9:18; let i=index">{{number}}</td>
        <td>36</td>
        <td>72</td>
      </tr>
      <tr>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Player 1 Name</mat-label>
                    <input matInput placeholder="Player 1 Name" [(ngModel)]="p1name" name="p1name">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 1 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 1 Score" [(ngModel)]="p1h1" name="p1h1" (change)="getScores1()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 2 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 2 Score" [(ngModel)]="p1h2" name="p1h2" (change)="getScores1()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 3 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 3 Score" [(ngModel)]="p1h3" name="p1h3" (change)="getScores1()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 4 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 4 Score" [(ngModel)]="p1h4" name="p1h4" (change)="getScores1()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 5 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 5 Score" [(ngModel)]="p1h5" name="p1h5" (change)="getScores1()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 6 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 6 Score" [(ngModel)]="p1h6" name="p1h6" (change)="getScores1()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 7 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 7 Score" [(ngModel)]="p1h7" name="p1h7" (change)="getScores1()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 8 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 8 Score" [(ngModel)]="p1h8" name="p1h8" (change)="getScores1()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 9 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 9 Score" [(ngModel)]="p1h9" name="p1h9" (change)="getScores1()">
                </mat-form-field>
            </form>
        </td>
        <td>{{p1Out}}</td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 10 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 10 Score" [(ngModel)]="p1h10" name="p1h10" (change)="getScores1()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 11 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 11 Score" [(ngModel)]="p1h11" name="p1h11" (change)="getScores1()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 12 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 12 Score" [(ngModel)]="p1h12" name="p1h12" (change)="getScores1()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 13 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 13 Score" [(ngModel)]="p1h13" name="p1h13" (change)="getScores1()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 14 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 14 Score" [(ngModel)]="p1h14" name="p1h14" (change)="getScores1()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 15 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 15 Score" [(ngModel)]="p1h15" name="p1h15" (change)="getScores1()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 16 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 16 Score" [(ngModel)]="p1h16" name="p1h16" (change)="getScores1()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 17 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 17 Score" [(ngModel)]="p1h17" name="p1h17" (change)="getScores1()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 18 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 18 Score" [(ngModel)]="p1h18" name="p1h18" (change)="getScores1()">
                </mat-form-field>
            </form>
        </td>
        <td>{{p1In}}</td>
        <td>{{p1Tot}}</td>
      </tr>
      <tr *ngIf=" players >= '2' ">
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Player 2 Name</mat-label>
                    <input matInput placeholder="Player 2 Name" [(ngModel)]="p2name" name="p2name">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 1 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 1 Score" [(ngModel)]="p2h1" name="p2h1" (change)="getScores2()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 2 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 2 Score" [(ngModel)]="p2h2" name="p2h2" (change)="getScores2()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 3 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 3 Score" [(ngModel)]="p2h3" name="p2h3" (change)="getScores2()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 4 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 4 Score" [(ngModel)]="p2h4" name="p2h4" (change)="getScores2()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 5 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 5 Score" [(ngModel)]="p2h5" name="p2h5" (change)="getScores2()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 6 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 6 Score" [(ngModel)]="p2h6" name="p2h6" (change)="getScores2()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 7 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 7 Score" [(ngModel)]="p2h7" name="p2h7" (change)="getScores2()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 8 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 8 Score" [(ngModel)]="p2h8" name="p2h8" (change)="getScores2()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 9 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 9 Score" [(ngModel)]="p2h9" name="p2h9" (change)="getScores2()">
                </mat-form-field>
            </form>
        </td>
        <td>{{p2Out}}</td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 10 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 10 Score" [(ngModel)]="p2h10" name="p2h10" (change)="getScores2()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 11 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 11 Score" [(ngModel)]="p2h11" name="p2h11" (change)="getScores2()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 12 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 12 Score" [(ngModel)]="p2h12" name="p2h12" (change)="getScores2()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 13 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 13 Score" [(ngModel)]="p2h13" name="p2h13" (change)="getScores2()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 14 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 14 Score" [(ngModel)]="p2h14" name="p2h14" (change)="getScores2()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 15 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 15 Score" [(ngModel)]="p2h15" name="p2h15" (change)="getScores2()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 16 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 16 Score" [(ngModel)]="p2h16" name="p2h16" (change)="getScores2()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 17 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 17 Score" [(ngModel)]="p2h17" name="p2h17" (change)="getScores2()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 18 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 18 Score" [(ngModel)]="p2h18" name="p2h18" (change)="getScores2()">
                </mat-form-field>
            </form>
        </td>
        <td>{{p2In}}</td>
        <td>{{p2Tot}}</td>
      </tr>
      <tr *ngIf=" players >= '3' ">
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Player 3 Name</mat-label>
                    <input matInput placeholder="Player 3 Name" [(ngModel)]="p3name" name="p3name">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 1 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 1 Score" [(ngModel)]="p3h1" name="p3h1" (change)="getScores3()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 2 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 2 Score" [(ngModel)]="p3h2" name="p3h2" (change)="getScores3()" >
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 3 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 3 Score" [(ngModel)]="p3h3" name="p3h3" (change)="getScores3()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 4 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 4 Score" [(ngModel)]="p3h4" name="p3h4" (change)="getScores3()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 5 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 5 Score" [(ngModel)]="p3h5" name="p3h5" (change)="getScores3()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 6 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 6 Score" [(ngModel)]="p3h6" name="p3h6" (change)="getScores3()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 7 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 7 Score" [(ngModel)]="p3h7" name="p3h7" (change)="getScores3()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 8 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 8 Score" [(ngModel)]="p3h8" name="p3h8" (change)="getScores3()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 9 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 9 Score" [(ngModel)]="p3h9" name="p3h9" (change)="getScores3()">
                </mat-form-field>
            </form>
        </td>
        <td>{{p3Out}}</td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 10 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 10 Score" [(ngModel)]="p3h10" name="p3h10" (change)="getScores3()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 11 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 11 Score" [(ngModel)]="p3h11" name="p3h11" (change)="getScores3()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 12 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 12 Score" [(ngModel)]="p3h12" name="p3h12" (change)="getScores3()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 13 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 13 Score" [(ngModel)]="p3h13" name="p3h13" (change)="getScores3()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 14 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 14 Score" [(ngModel)]="p3h14" name="p3h14" (change)="getScores3()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 15 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 15 Score" [(ngModel)]="p3h15" name="p3h15" (change)="getScores3()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 16 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 16 Score" [(ngModel)]="p3h16" name="p3h16" (change)="getScores3()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 17 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 17 Score" [(ngModel)]="p3h17" name="p3h17" (change)="getScores3()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 18 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 18 Score" [(ngModel)]="p3h18" name="p3h18" (change)="getScores3()">
                </mat-form-field>
            </form>
        </td>
        <td>{{p3In}}</td>
        <td>{{p3Tot}}</td>
      </tr>
      <tr *ngIf=" players >= '4' ">
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Player 4 Name</mat-label>
                    <input matInput placeholder="Player 4 Name" [(ngModel)]="p4name" name="p4name">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 1 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 1 Score" [(ngModel)]="p4h1" name="p4h1" (change)="getScores4()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 2 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 2 Score" [(ngModel)]="p4h2" name="p4h2" (change)="getScores4()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 3 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 3 Score" [(ngModel)]="p4h3" name="p4h3" (change)="getScores4()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 4 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 4 Score" [(ngModel)]="p4h4" name="p4h4" (change)="getScores4()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 5 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 5 Score" [(ngModel)]="p4h5" name="p4h5" (change)="getScores4()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 6 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 6 Score" [(ngModel)]="p4h6" name="p4h6" (change)="getScores4()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 7 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 7 Score" [(ngModel)]="p4h7" name="p4h7" (change)="getScores4()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 8 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 8 Score" [(ngModel)]="p4h8" name="p4h8" (change)="getScores4()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 9 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 9 Score" [(ngModel)]="p4h9" name="p4h9" (change)="getScores4()">
                </mat-form-field>
            </form>
        </td>
        <td>{{p4Out}}</td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 10 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 10 Score" [(ngModel)]="p4h10" name="p4h10" (change)="getScores4()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 11 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 11 Score" [(ngModel)]="p4h11" name="p4h11" (change)="getScores4()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 12 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 12 Score" [(ngModel)]="p4h12" name="p4h12" (change)="getScores4()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 13 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 13 Score" [(ngModel)]="p4h13" name="p4h13" (change)="getScores4()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 14 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 14 Score" [(ngModel)]="p4h14" name="p4h14" (change)="getScores4()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 15 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 15 Score" [(ngModel)]="p4h15" name="p4h15" (change)="getScores4()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 16 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 16 Score" [(ngModel)]="p4h16" name="p4h16" (change)="getScores4()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 17 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 17 Score" [(ngModel)]="p4h17" name="p4h17" (change)="getScores4()">
                </mat-form-field>
            </form>
        </td>
        <td>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Hole 18 Score</mat-label>
                    <input type="number" matInput placeholder="Hole 18 Score" [(ngModel)]="p4h18" name="p4h18" (change)="getScores4()">
                </mat-form-field>
            </form>
        </td>
        <td>{{p4In}}</td>
        <td>{{p4Tot}}</td>
      </tr>
      <tr>
        <td>Handicap</td>
        <td *ngFor="let number of hcp| slice:0:9; let i=index">{{number}}</td>
        <td></td>
        <td *ngFor="let number of hcp| slice:9:18; let i=index">{{number}}</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
</table>
</div>